body {
    background-image: url(kppc.jpg);
    background-size: cover; 
    background-position: center; 
    margin: 0;
    font-family: Arial, sans-serif;
    color: white; 
	min-height: 100vh;
}

h1 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: larger5;
font-style: italic;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, p, a {
    color: darkgreen;
}

a {
    font-style: italic;
}

.sriftas {
    font-style: italic;
}