h3, p, a {
color: darkgreen;
}

div.flex-grid {
    display: flex;
    gap: 10px;
    direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  
  div.flex-grid > div {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 150px;
    max-width: 250px;
    border: solid 1px darkgreen;
    padding: 10px;
  }
  
  div.flex-grid img {
    width: 100%;
  }